<h1 id="tableLabel">My Tasks</h1>

<div class="button-row">
  <button class="btn btn-secondary" (click)="deleteSelectedTasks()">Delete</button>
  <button class="btn btn-primary" (click)="showNewTaskForm()">Add</button>
</div>

<div *ngIf="isListEmpty else datatable" class="alert alert-primary">
  You have no tasks
</div>

<ng-template #datatable>

  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userTask of userTasks">
        <td><input type="checkbox" (change)="userTask.selected = !userTask.selected" /></td>
        <td>{{ userTask.description }}</td>
        <td>{{ userTask.lastUpdate | date: 'mediumDate' }} {{ userTask.lastUpdate | date: 'mediumTime' }}</td>
      </tr>
    </tbody>
  </table>

</ng-template>

