<h1 id="tableLabel">My Tasks</h1>

<div class="button-row">
  <button class="btn btn-secondary" (click)="deleteSelectedTasks()">Delete</button>
  <button class="btn btn-primary" (click)="showNewTaskForm()">Add</button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userTask of userTasks">
      <td><input type="checkbox" (change)="userTask.selected = !userTask.selected" /></td>
      <td>{{ userTask.description }}</td>
    </tr>
  </tbody>
</table>
